.DirectoryItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 6px;
  cursor: default;
  user-select: none;
}

.DirectoryItem__Item {
  flex: 1;
}

.DirectoryItem__Toolbar {
}
