.Browser {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.Browser_Previewer {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
}

.Browser_Editor {
  width: 50%;
  position: relative;
}

.Browser_Content {
  position: relative;
  display: flex;
  flex: 1;
  height: calc(100% - 46px);
}
